#!/bin/bash

# DIST FILE / Update values before launching script

# DNS Records that you wish to be modified if needed
DNSDomain="" # Domain under which your records can be found
DNSRecordV4=""  # A Type Record
DNSRecordV6=""  # AAAA Type Record

# Provider - Gandi
APIToken=""